body {
	box-sizing: border-box;
	font-family: Arial;
	margin: 0;
}

img {
  box-sizing:border-box;
  position: absolute;
  max-height: 5.5%;
  padding-right:94.3%;
  padding-left:0.5%;
  padding-top: 0.5%;
  padding-bottom:0.5%;
  background-color: gainsboro;
}

section {
	box-sizing:border-box;
	border-bottom: 1px solid LightGrey;
	padding-top: 45px;
	padding-bottom:10px;	
}

nav {
  position: absolute;
  top: 15px;
  right: 16px;
  font-size: 16px;
}

a:link {
	color: grey;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: grey;
	text-decoration: none;
}

h2 {
	font-weight: normal;
	font-size: 21px;
	color: crimson;
	margin-left: 40px;
	margin-top: 30px;
}

h3 {
	padding-top: 30px;
	font-weight: normal;
	font-size:16px;
	margin-left: 40px;
}

h5 {
	
	display: block;
	font-weight: normal;
	width: 200px;
	margin-left: 40px;
	line-height: 1.7;
	
}

input[type=text] {
	
	display: block;
	margin-right: 60%;
	float: right;
	height: 28px;
	border: 1px solid lightgrey;
}

input[type=text]:focus {
	border: 1px solid DodgerBlue;
}

input[type=submit]{
	height: 30px;
	border-style:none;
	margin-right: 7px;
	background-color: DodgerBlue;
	color: white;
	font-weight: bold;
	font-size: 11px;
	margin-left: 34%;
}

input[type=submit]:hover {
	border: 1px solid black;
}
