body {
	
	font-family: Arial;
}



section {
	box-sizing:border-box;
	border-bottom: 1px solid LightGrey;
	padding-top: 45px;
	padding-bottom:10px;
	
}

img {
  box-sizing:border-box;
  position: absolute;
  max-height: 50px;
  padding-right:100%;
  padding-top: 10px;
  padding-bottom:10px;
  background-color: gainsboro;
}

input[type=text] {
	
	display: block;
	margin-right: 60%;
	float: right;
	height: 28px;
	border: 1px solid lightgrey;
}

input[type=text]:focus {
	border: 1px solid DodgerBlue;
}

input[type=submit]{
	height: 30px;
	border-style:none;
	margin-right: 7px;
	background-color: DodgerBlue;
	color: white;
	font-weight: bold;
	font-size: 11px;
	margin-left: 30%;
}

input[type=submit]:hover {
	border: 1px solid black;
}

a:link {
	color: grey;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: grey;
	text-decoration: none;
}
h2 {
	font-weight: normal;
	font-size: 21px;
	color: crimson;
	margin-left: 40px;
	margin-top: 30px;
}

h3 {
	padding-top: 30px;
	font-weight: normal;
	font-size:16px;
	margin-left: 40px;
}

h5 {
	
	display: block;
	font-weight: normal;
	width: 200px;
	margin-left: 40px;
	line-height: 1.75;
	
}

nav {
  position: absolute;
  top: 15px;
  right: 16px;
  font-size: 16px;
}

article {
	float:right;
	margin-right:61.5%
}